<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Code Snippet Repo</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Ubuntu:300,400,500" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Code Snippet Repo</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
        <a href="/logout">Logout</a>
      </nav>
    </header>
    <main>
      {{{yield}}}
    </main>
  </body>
</html>
