<div class="loginSection">
  <h2>LOGIN</h2>
  <form id="loginForm" action="/login" method="post">
    <input type="text" name="username" value="" placeholder="Username">
    <input type="password" name="password" value="" placeholder="Password">
    <button type="submit" name="button">Login</button>
  </form>
</div>
