<head>
  <meta charset="utf-8">
  <title>Code Snippet Repo</title>
  <link rel="stylesheet" href="../main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Ubuntu:300,400,500" rel="stylesheet">
</head>
<div>
  {{#loggedIn}}
    <h4>User Logged In: {{username}}</h4>
  {{/loggedIn}}
</div>
<div class="container">
  <h2>{{name}}'s Public Profile</h2>

</div>
