<div class="signupSection">
  <h2>SIGN UP</h2>
  <form id="signupForm" action="/signup" method="post">
    <input type="text" name="name" value="" placeholder="Name">
    <input type="text" name="username" value="" placeholder="Username">
    <input type="password" name="password" value="" placeholder="Password">
    <input type="email" name="email" value="" placeholder="Email">
    <button type="submit" name="button">Sign Up</button>
  </form>
</div>
