{{#snippet}}
  <div class="eachSnippet">
    <p>Username: {{username}}</p>
    <p>Title: {{title}}</p>
    <textarea name="code" rows="12" cols="60">{{snippet}}</textarea>
    <p>Notes: {{notes}}</p>
    <p>Language: {{language}}</p>
    <p>Tags: {{tags}}</p>
  </div>
{{/snippet}}
<a class="createaSnip" href="/create">Create a Snippet</a>
