/*font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;*/

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #F0F5F8;
  font-family: 'Open Sans', sans-serif;
}

header{
  align-items: center;
  background-color: burlywood;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

h1{
   margin-right: 275px;
}

header a{
   color: black;
   font-size: 22px;
   font-weight: bold;
   margin: 0 35px;
   text-decoration: none;
}

main{
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  margin: 50px;
}

.loginSection{
  margin-left: 300px;
  margin-right: 50px;
}

.loginSection h2{
  padding: 15px;
}

#loginForm{
  display: flex;
  flex-direction: column;
  padding: 15px;
}

#loginForm input{
  padding: 8px;
  margin: 10px 0;
  width: 200px;
}

#loginForm button{
  padding: 8px;
  margin-top: 10px;
}

.signupSection{
  border-left: 1px solid black;
  margin-left: 50px;
  padding-left: 35px;
}

.signupSection h2{
  padding: 15px;
}

#signupForm{
  display: flex;
  flex-direction: column;
  padding: 15px;
}

#signupForm input{
  padding: 8px;
  margin: 10px 0;
  width: 200px;
}

#signupForm button{
  padding: 8px;
  margin-top: 10px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 25%;
  justify-content: space-between;
}

.section{
  border: 1px solid black;
  margin-bottom: 15px;
  padding: 15px;
}

.createaSnip{
  color: black;
  font-size: 35px;
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
}

.wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
}

.singleSnippet{
  width: 50%;
}

.singleSnippet p{
  font-size: 18px;
  margin: 10px;
}

textarea{
  font-size: 14px;
  padding: 10px;
}
